---
layout: splash
permalink: /positions/
title: "Open positions"
$paragraph-indent: true
---

<link rel="stylesheet" href="/assets/css/bootstrap.css">


<style>

	.entry-headers {
    padding-top: 1.0em;
  }

.page__footer-follow li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: .8em;
  text-transform: none;
}

td {
    border-bottom: 1px solid #fff;
}

.a__link {
    a {
        color: #158CBA;
    }

     a:visited {
        color: #158CBA; /* 自定义为紫色 */
    }
    /* 鼠标悬停时的链接 */
    a:hover {
        color: #5481B0; /* 自定义为红色 */
    }

    /* 点击时的链接 */
    a:active {
        color: #5481B0; /* 自定义为绿色 */
    }
  }

.p__job {
    p {
        color: green;
        font-size: 115%;
    }

  }

#gridid i {
    font-size: 16px;
    font-style: italic;
}


li {
    font-size: 12px;
}

.paper-btn {
    background-color: #158CBA;
    border: none;
    color: white;
    padding: 2px 2px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15%;
}


.news-date {
    font-size:1.0em;
    color:#5481B0;
  }
  .news-title {
    font-size:0.8em;
  }

  .news-p p {
    font-size:1.0em;
    margin-bottom: 0.3em;
    text-align: start; 
  }

  .news-a a {
    font-size:1.0em;
    color: #158CBA;
  }

</style>

<div style="padding-bottom: 2rem;" class="container-home page__other__hero--overlay a__link p__job">
  <!-- <h1 style="text-transform: capitalize" class="entry-headers"> {{page.title}} </h1> -->
  <br>
  <br><br>
  <p>Our team can offer various positions for self-motivated researchers and graduate students (including those who want to enroll in PhD program).</p>
  <p>
    If you're interested in joining our team, please fill out this <a href="https://forms.gle/8ob5ugBHJD2YioMy5" target="_blank">Google Form</a>.
  </p>
    <h2> Job Openings </h2>
    <div class="news-a">
      <!-- AIP programmes -->
      {% assign sorted = site.open_positions %}
      {% for opsition in sorted %}
        {% if opsition.is_riken == 1 %}
          <section class="news-p">
            {% if opsition.url_.size > 0 %}
              <a href="{{ opsition.url_ | default: '#' }}"><button class="paper-btn"><i style="font-style:normal" class="fa fa-link"></i>&nbsp;Details</button></a>
            {% endif %}
            {% if opsition.is_open == 0 %}
              <i style="font-size: 12px;" class="fa fa-star" aria-hidden="true"></i>&nbsp;<b>{{ opsition.title }}</b>&nbsp;
            {% endif %}
            {% if opsition.is_open == 1 %}
              <i style="font-size: 12px; color: #BEBEBE" class="fa fa-star" aria-hidden="true"></i>&nbsp;<a style="color: #dc143c;">[Closed]</a>&nbsp;<b style="color: #BEBEBE">{{ opsition.title }}</b>&nbsp;
            {% endif %}
            {% if opsition.description.size > 0 %}
              <p style="color: #696969">&emsp;{{ opsition.description }}</p>
            {% endif %}
            {% if opsition.description.size == 0 %}
                <p>&emsp;</p>
            {% endif %}
          </section>
        {% endif %}
      {% endfor %}
      <!-- RIKEN programmes -->
        <h2> RIKEN Programs for Junior Scientists </h2>
        {% for opsition in sorted %}
          {% if opsition.is_riken == 0 %}
            <section class="news-p">
              {% if opsition.url_.size > 0 %}
                <a href="{{ opsition.url_ | default: '#' }}"><button class="paper-btn"><i style="font-style:normal" class="fa fa-link"></i>&nbsp;Details</button></a>
              {% endif %}
              {% if opsition.is_open == 0 %}
                <i style="font-size: 12px;" class="fa fa-star" aria-hidden="true"></i>&nbsp;<b>{{ opsition.title }}</b>&nbsp;
              {% endif %}
              {% if opsition.is_open == 1 %}
                <i style="font-size: 12px; color: #BEBEBE" class="fa fa-star" aria-hidden="true"></i>&nbsp;<a style="color: #dc143c;">[Closed]</a>&nbsp;<b style="color: #BEBEBE">{{ opsition.title }}</b>&nbsp;
              {% endif %}
              {% if opsition.description.size > 0 %}
                <p style="color: #696969">&emsp;{{ opsition.description }}</p>
              {% endif %}
              {% if opsition.description.size == 0 %}
                  <p>&emsp;</p>
              {% endif %}
            </section>
          {% endif %}
        {% endfor %}

      <!-- JSPS  -->
        <h2> JSPS Programs for Young Researchers </h2>
        {% for opsition in sorted %}
          {% if opsition.is_riken == 2 %}
            <section class="news-p">
              {% if opsition.url_.size > 0 %}
                <a href="{{ opsition.url_ | default: '#' }}"><button class="paper-btn"><i style="font-style:normal" class="fa fa-link"></i>&nbsp;Details</button></a>
              {% endif %}
              {% if opsition.is_open == 0 %}
                <i style="font-size: 12px;" class="fa fa-star" aria-hidden="true"></i>&nbsp;<b>{{ opsition.title }}</b>&nbsp;
              {% endif %}
              {% if opsition.is_open == 1 %}
                <i style="font-size: 12px; color: #BEBEBE" class="fa fa-star" aria-hidden="true"></i>&nbsp;<a style="color: #dc143c;">[Closed]</a>&nbsp;<b style="color: #BEBEBE">{{ opsition.title }}</b>&nbsp;
              {% endif %}
              {% if opsition.description.size > 0 %}
                <p style="color: #696969">&emsp;{{ opsition.description }}</p>
              {% endif %}
              {% if opsition.description.size == 0 %}
                  <p>&emsp;</p>
              {% endif %}
            </section>
          {% endif %}
        {% endfor %}
    </div> 
    <br><br><br><br><br>
    <!-- <h2> RIKEN programmes </h2> -->
  </div>


<div style="position: relative; bottom: 0;" class="page__footer">
  <footer-new>
    <div class="row">
      <div id="gridid" class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 clearfix" style="padding-left: 30px; padding-right: 30px">
            <div class="page__footer-follow">
              <ul class="social-icons">
                <li><strong>Access:</strong><br>Nihonbashi 1-chome Mitsui Building, 15th floor,<br>1-4-1 Nihonbashi,Chuo-ku, Tokyo<br>103-0027, Japan &nbsp; <a href="https://goo.gl/maps/KfJb19p3ZQLqYjae7" rel="nofollow noopener noreferrer">（<i style="font-style:normal" class="fa fa-location-arrow" aria-hidden="true"></i> Map） </a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 clearfix" style="padding-left: 30px; padding-right: 30px">
          <!-- start custom footer snippets -->
          <!-- end custom footer snippets -->
            <div class="page__footer-follow">
              <ul class="social-icons">
                <li>
                  <strong>Contact Info:</strong><br>Email: qibin.zhao [at] riken.jp &nbsp;*Please replace "[at]" with "@"<br>Tel: +81-(0)3-6225-2539<br><strong>Follow:</strong>
                  <!-- &nbsp;<a href="https://github.com/" rel="nofollow noopener noreferrer"><i style="font-style:normal"  class="fab fa-fw fa-github-square" aria-hidden="true"></i> GitHub</a>&nbsp;&nbsp; -->
                  &nbsp;<a href="https://twitter.com/rikenaiptlt" rel="nofollow noopener noreferrer"><i style="font-style:normal" class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="page__footer-copyright" style="padding-left: 30px; padding-right: 30px; color:#808080">© 2023 Tensor Learning Team. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a>.
          </div>
        </div>
      </div>
    </div>




